@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

p.conteudo{
    margin:15px 0px;
    text-align: justify;
    text-indent: 15%;
    font-size: 1em;
    line-height: 2em;
}

p.extra{
    margin:15px 0px;
    text-align: justify;
    text-indent: 15%;
    font-size: 1em;
    line-height: 1em;
}


a.externo::after{
    content: '\00a0\1F517';
}

:root{
        --cor00:#c5ebd6;
        --cor01:#83e1ad;
        --cor02:#3ddc84;
        --cor03:#2fa866;
        --cor04:#1a5c37;
        --cor05:#063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', sans-serif;
    --font-android: 'Android', sans-serif;
}
body{
    background-color:var(--cor00) ;
    font-family: var(--font-padrao);
}

header{
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    min-height: 50px;
    padding: 10px 40px 40px 40px;
    text-align: center;
    margin: auto;   
}

header > h1 {
    color:white;
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size:3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);
    text-align: center;
    padding: 20px;
}


header > p{
    color: rgb(255, 255, 255);
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 100%;
    text-align: center;
    /*margin: 0% 25% 0% 25%;*/
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.521);;
}



nav {
    background-color: var(--cor05);
    padding: 15px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.521) ;

}

nav > a {
    color:white;
    font-family: var
    (--font-padrao);
    font-size: 1em;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    color: var(--cor01);
    max-width: 100%;
}

nav > a:hover{
    background-color: var(--cor02);
    border-radius: 8px;
    color:var(--cor05);
}

main {
    background-color:white;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.400);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    min-width: 320px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;

}

main strong{
    color: var(--cor05);
    font-weight: bold;
}
main a{
    color: var(--cor05);
    background-color: var(--cor02);
    text-decoration: none;
    padding: 2px 5px;
    font-weight: bolder;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor03);
}
main img.pequena{
    max-width: 350px;
    margin: auto;
    display: block;
}

img  {
    width: 100%;
}

div.video{
    background-color: var(--cor05);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    border-radius: 5px;
    padding-bottom: 59%;

    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;


}

/*iframe {
    width:100%;
}*/

main h1{
    color: var(--cor05);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;

}
main h2{
    font-family: var(--font-android);
    color: var(--cor05);
    font-size: 1.3em;
   background-image: linear-gradient(to right, var(--cor02), transparent);
   text-indent: 8px;
   font-size: normal;
}

aside{
    background-color: var(--cor02);
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.452);
}

aside h3{
    background-color: var(--cor04);
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    margin: -10px;
   
    
}

aside ul{
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714\00A0';
}




footer {
    text-align: center;
    background-color: var(--cor05);
    color: white;
    font-size: 0.8em;
    }

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor01);
}

